<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.azure.samples.communication.calling">

    <application
        android:name="com.azure.samples.communication.calling.AzureCalling"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fluent"
        tools:targetApi="31">
        <activity
            android:name="com.azure.samples.communication.calling.views.activities.InvitationActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.azure.samples.communication.calling.views.activities.IntroViewActivity" />
        </activity>
        <activity
            android:name="com.azure.samples.communication.calling.views.activities.StartCallActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.azure.samples.communication.calling.views.activities.IntroViewActivity" />
        </activity>
        <activity
            android:name="com.azure.samples.communication.calling.views.activities.JoinCallActivity"
            android:screenOrientation="portrait"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.azure.samples.communication.calling.views.activities.IntroViewActivity" />
        </activity>
        <activity
            android:name="com.azure.samples.communication.calling.views.activities.IntroViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.azure.samples.communication.calling.views.activities.SignInActivity"
            android:screenOrientation="portrait"
            android:exported="false">
        </activity>
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- android:path uses debug.keystore sha1-hash -->
                <data
                    android:host="com.azure.samples.communication.calling"
                    android:path="/44rymnrbe1l8wfl8deB3a/fQqhs="
                    android:scheme="msauth" />
            </intent-filter>
        </activity>
    </application>

</manifest>
